/* font-family: 'EB Garamond', serif;

font-family: 'Montserrat', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #F8F5F0;
    color: #333;
}

.header{
    height: 100px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 10px;
}

.header .primary{
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 20px;
}

.header .primary img{
    height: 70px;
}

#crt {
    position: absolute;
    top: 50px;
    left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1.4px;
}

.header .secondary{
    position: relative;
    display: flex;
    justify-content: right;
}

.header .burger {
    width: 30px;
    height: 40px;
	margin-right: 20px;
	margin-top: 50px;
}

.header .burger .cb{
    position: absolute;
	top: 40px;
	right: 20px;
	width: 30px;
	height: 30px;
	z-index: 9999;
	opacity: 0;
}

.header .burger .cb:checked ~ .flyout{
    left: -25%;
}

.header .burger .cb:checked ~ .bars span{
    background: #E0AD91;
}

.header .burger .bars span{
    height: 1px;
	width: 100%;
	background: #333;
	display: block;
	position: relative;
	z-index: 99;
	margin-bottom: 6px;
	border-radius: 10px;
}

.header .burger .flyout{
    background: rgba(255, 255, 255, 0.95);
	width: 50vw;
	height: 100vh;
	position: absolute;
    padding-top: 90px;
    padding-left: 20px;
	top: 0px;
	left: -10000px;
	z-index: 1;
}

.header .burger .flyout ul{
    list-style: none;
}

.header .burger .flyout a{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 1.4px;
}

.header .burger .flyout h3{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: none;
    font-size: 14px;
}

.hero {
    background: url("../imgs/heropalm.png");
    width: 100vw;
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero img{
    max-width: 100vw;
}

.hero h2{
    position: absolute;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.hero.ss {
    display: flex;
    align-items: center;
    justify-content: center;
}


.homepage-hero img{
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.body{
    height: 100%;
    width: 100%;
}

.homepage .content.primary{
    background: url("../imgs/shadows2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 570px;
    margin-top: -10px;
    
}

.homepage .content.primary .handle{
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

.homepage .content.primary .handle .primary p{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1.2px;
    color: #333;
}

.itl{
    font-style: italic;
    font-weight: 500;
}
.homepage .content.primary .handle .primary .l-line{
    width: 170px;
    height: 0;
    border: .5px solid #333;
    /* margin: 3px; */
    display:block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.homepage .content .handle .secondary{
    margin-bottom: 50px;
}

.homepage .content .handle .secondary .nav{
    text-align: center;
    width: 100%;
}

.homepage .content .handle .secondary .nav a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    letter-spacing: 1.3px;
    margin: 10px;
}

.homepage .content .handle .tertiary{
    overflow: auto;
    margin-bottom: 50px;
}

.homepage .content .handle .tertiary img{
    width: 25%;
    float: left;
}

.homepage .content .handle .quaternary{
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage .content .handle .quaternary .line{
    width: 45px;
    height: 0;
    border: .5px solid #333;
    /* margin: 3px; */
    display: inline-block;
}

.homepage .content .handle .quaternary span{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    text-align: center;
    display: inline-block;
    margin: 20px;
    letter-spacing: 1.2px;
}

.homepage .secondary .primary{
    margin-bottom: 50px;
}

.homepage .secondary .primary img{
    width: 100vw;
}

.homepage .secondary{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    text-align: center;
}

.homepage .secondary .secondary{
    margin-bottom: 50px;
}

.homepage .secondary .secondary .primary{
    margin-bottom: 15px;
}

.homepage .secondary .secondary .primary .emphasis{
    font-size: 24px;
}

.homepage .secondary .secondary .secondary{
    position: relative;
}

.homepage .secondary .secondary .secondary input[type=text]{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1.3px;
    background: #f8f5f0;
    border: .5px solid #333;
}

.homepage .secondary .secondary .secondary input[type=image]{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: -40px;
    background: #f8f5f0;
}

.footer{
    height: 100px;
    width: 100vw;
    background: #102A26;
    /* position: absolute;
    bottom: 0px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

.footer .social{
    display: flex;
    align-items: center;
    
}

.footer .social img{
    height: 20px;
    margin-right: 5px;
}

.footer .social h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: #f8f5f0;
    margin-bottom: 10px;
}

.footer .links{
    text-align: right;
}

.footer .links a{
    display: block;
    color: #f8f5f0;
   letter-spacing: 1.2px;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    font-size: 12px;

}

.web-only{
    display: none;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
}

.login h2{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    text-align: center;
}

.login input[type=text]{
    background: #EADED0;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.login input[type=password]{
    background: #EADED0;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.login input[type=submit]{
    width: 100%;
    border: .5px solid #333;
    height: 30px;
    background: #F8F5F0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.4px;
    font-size: 12px;
    font-weight: 200;
}

.login p{
    text-align: right;
    font-weight: 200;
    color: #333;
}

.login a{
    text-decoration: none;
    font-weight: 700;
    color: #333;
    font-style: italic;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
}

.register h2{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    text-align: center;
}

.register input[type=text]{
    background: #EADED0;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.register input[type=password]{
    background: #EADED0;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.register input[type=submit]{
    width: 100%;
    border: .5px solid #333;
    height: 30px;
    background: #F8F5F0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.4px;
    font-size: 12px;
    font-weight: 200;
}

.register p{
    text-align: right;
    font-weight: 200;
    color: #333;
}

.register a{
    text-decoration: none;
    font-weight: 700;
    color: #333;
    font-style: italic;
}

.addProduct {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 400px;
    margin: 0 auto;
}

.addProduct .perm input{
    display: block;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 100%;
}

.addProduct textarea{
    margin-bottom: 5px;
    width: 100%;
    padding-left: 10px;
}

.variantsList .option {
    display: flex;
    align-items: center;
}

.variantsList .option input[type=radio]{
    width: 20px;
    display: inline;
    margin-right: 5px;
}

.variantsList .option input[type=text]{
    display: inline-block;
    width: 40%;
}


#optionSetContainer input[type=text]{
    display: inline-block;
    width: 60px;
    padding-left: 10px;
}

.productsMain .cat-nav{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.productsMain .cat-nav a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    margin: 10px;
}

.productsMain .products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productsMain .products .product{
    margin-bottom: 50px;
}

.productsMain .products .product img{
    height: 350px;
}

.productsMain .products .product h2{
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
}

.productsMain .products .product p{
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
}

.productsMain .products .product a{
    text-decoration: none;
    text-align: center;
}

.product-main{
    padding-top: 25px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.product-main .images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.product-main .images .active img{
    height: 450px;
}

.product-main .images .handle .subactive img {
    float: left;
    height: 150px;
    margin-right: 10px;
}

.product-main  .details h3{
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    text-align: left;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
}

.product-main  .details span{
    display: block;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    margin-bottom: 5px;
}

.product-main  .details p{
    display: block;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
}

.product-main .details form{
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #333;
}

.product-main .details form .fieldgroup{
    display: flex;
    align-items: center;
}

.product-main form .fieldgroup.qty{
    margin-bottom: 20px;
}

.product-main form .fieldgroup.size{
    margin-top: 20px;
}

.product-main form .fieldgroup.size .container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    padding: 0px;
    /* margin-right: 15px; */
    width: 35%;
}


.product-main form .fieldgroup.size .container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.product-main form .fieldgroup.size .container:hover input ~ .checkmark{
    border-bottom: .5px solid #333;
}

.product-main form .fieldgroup.size .container input:checked ~ .checkmark{
    border-bottom: .5px solid #333;
}


.product-main form .fieldgroup.size .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.product-main form .fieldgroup.size .container .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    padding: 8px;
}

.product-main form .fieldgroup.color{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-main form .fieldgroup.color .container{
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    padding: 0px;
    margin-right: 15px;
}

.product-main form .fieldgroup.color .container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.product-main form .fieldgroup.color .container:hover input ~ .checkmark{
    border-bottom: .5px solid #333;
}

.product-main form .fieldgroup.color .container input:checked ~ .checkmark{
    border-bottom: .5px solid #333;
}


.product-main form .fieldgroup.color .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.product-main form .fieldgroup.color .container .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    padding: 8px;
}


.product-main .details form span{
    float: left;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.product-main .details form input[type=number]{
    width: 35px;
    height: 30px;
    text-align: center;
    border: .5px solid #333;
    background: #f8f5f0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.product-main .details form input[type=submit]{
    display: block;
    border: .5px solid #333;
    background: #f8f5f0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 1.4px;;
}

.product-main .reviews-login{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    color: #333;
    margin-top: 10px;
}

.product-main .reviews-login a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-style: italic;
}

.product-main .reviews{
    margin-top: 50px;
    color: #333;

}

.product-main .reviews h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #333;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 400;
}

.product-main .reviews .fieldgroup{
    margin-bottom: 20px;
}

.product-main .reviews label{
    display: block;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-size: 13px;
    margin-bottom: 5px;
}

.product-main .reviews input[type=file]{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.product-main .reviews input[type=text]{
    height: 30px;
    width: 100%;
    border: none;
    background: #EADED0;
    padding-left: 5px;
}

.product-main .reviews input[type=submit]{
    border: .5px solid #333;
    background: #f8f5f0;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.product-main .reviews textarea{
    height: 60px;
    width: 100%;
    border: none;
    background: #EADED0;
    padding-left: 5px;
    padding-top: 5px;
}

.product-main .reviews .line{
    width: 120px;
    height: 0;
    border: .5px solid #333;
    /* margin: 3px; */
    display:block;
    margin: 0 auto;
}

.product-main .reviews .rev-header h3{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 18px;
}

.product-main .fieldgroup{
    overflow: hidden;
}

.rate {
    float: left;
    height: 46px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
    margin-right: 2px;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #333;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #333;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #333;
}

.attention{
    opacity: 0; 
    color: #CD5C5C;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    margin-top: 2px;
}

.error .attention{
    opacity: 1;
}

.cms-home .handle{
    display: grid;
    grid-template-rows: 60px 1fr;
}

.cms-home{
    margin-top: 25px;
}

.cms-home .handle .col.nav{
    text-align: center;
    display: grid;
    width: 80%; 
    margin: 0 auto;
}

.cms-home .handle .col.nav a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    color: #333;
    text-align: left;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

.cms-home .handle .col.content{
    border: 2px solid pink;
    height: 500px;
}

#sizeContainer{
    display: none;
    padding-left: 10px;
}

.cart-main{
    margin-top: 25px;
    margin-bottom: 25px;
}

.cart-main .handle {
    width: 85%;
    margin: 0 auto;
}

.cart-main .handle .cart-primary h2{
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: 1.2px;
}

.cart-main .handle .cart-secondary .items{
    margin-bottom: 75px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}

.cart-main .handle .cart-secondary .items .item{
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 2fr 1fr 40px;
    margin-bottom: 10px;
}

.cart-main .handle .cart-secondary .items .item span{
    font-size: 16px;
}
.cart-main .handle .cart-secondary .items .line{
        width: 100%;
        height: 0;
        border: .5px solid #333;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 50px;
}

.cart-main .handle .cart-secondary .totals{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.cart-main .handle .cart-secondary .totals h3{
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.cart-main .handle .cart-secondary .totals .label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart-main .handle .cart-secondary .totals .label span{
    font-size: 12px;
}

.cart-main .handle .cart-secondary .totals .line{
        width: 100%;
        height: 0;
        border: .5px solid #333;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
}

.cart-main .handle .cart-secondary .totals .checkout{
    padding-top: 15px;
}

.cart-main .handle .cart-secondary .totals .checkout a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: .5px solid #333;
    color: #333;
    text-decoration: none;
    font-size: 10px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    display: block;
}

#empBtn{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: .5px solid #333;
    color: #333;
    text-decoration: none;
    font-size: 10px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

.cart-main .handle .cart-secondary .col.dltBtn img{
    height: 15px;
}

.cart-main .handle .cart-secondary .col.cartImg img{
    height: 150px;
}

.checkout-main{
    font-family: 'EB Garamond', serif;  
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #333;
}

.checkout-main .handle{
    width: 85%;
    margin: 0 auto;
}

.checkout-main label{
    display: block;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-size: 14px;
}

.checkout-main form h3{
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
    font-size: 18px;
}

.checkout-main form .fieldgroup{
    margin-bottom: 10px;
}

.checkout-main form .billing{
    margin-bottom: 50px;
}

.checkout-main form .shipping{
    margin-bottom: 50px;
}

.checkout-main form .review{
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 12px;
}

.checkout-main form .review .label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkout-main form .review h3{
    font-family: 'EB Garamond', serif;  
    text-transform: capitalize;
}

.checkout-main input[type=text]{
    width: 100%;
    height: 30px;
    background: #EADED0;
    border: none;
}

.checkout-main form .item{
    display: grid;
    grid-template-columns: 2fr 30px 1fr;
    margin-bottom: 10px;
}

.checkout-main form .line{
    width: 100%;
    height: 0;
    border: .5px solid #333;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#plcOrder {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: .5px solid #333;
    background: #f8f5f0;
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top: 15px;
}

.cms-products {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cms-products .handle{
    width: 80%;
    margin: 0 auto;
}

.cms-products .addButton{
    margin-bottom: 35px;
}

.cms-products .addButton a{
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 10px;
    padding: 5px;
    font-weight: 500;

    
}

.cms-products .product img {
    height: 75px;
}

.cms-products .product {
    display: grid;
    grid-template-columns: 1fr 2fr 50px;
    margin-bottom: 15px;

}

.cms-products .product h2{
    font-size: 16px;
    font-family: 'EB Garamond', serif;  
    font-weight: 200;
}

.cms-products .product a{
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cms-products .product .deleteBtn{
    display: flex;
    align-items: center;
}

.cms-products .product .deleteBtn img {
    height: 15px;
}

.cms-product{
    margin-top: 25px;
    margin-bottom: 25px;
}

.cms-product .handle{
    width: 85%;
    margin: 0 auto;
}

.cms-product .handle form h2{
    font-size: 16px;
    font-family: 'EB Garamond', serif;  
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}

.cms-product .handle form .fieldgroup{
    margin-bottom: 15px;
}

.cms-product .handle form .fieldgroup input[type=text]{
    background: #EADED0;
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
}

.cms-product .handle form label{
    display: block;
    color: #333;
    letter-spacing: 1.2px;
    font-weight: 200;
}
.cms-product .handle form .fieldgroup select{
    font-family: 'Montserrat', sans-serif;
    background: #f8f5f0;
    border: .5px solid #333;
    height: 20px;
}


.cms-product .handle form .fieldgroup textarea{
    width: 100%;
    border: none;
    background: #EADED0;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    font-size: 10px;
    padding: 5px;
}

.cms-product .handle form .fieldgroup.groups{
    display: grid;
    grid-template-columns: 1fr 1fr 60px;
}

.cms-product .handle form .subgroup{
    margin-bottom: 10px;
}

.cms-product .handle form .subgroup label{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.cms-product .handle form .subgroup input[type=text]{
    width: 30px;
    height: 20px;
}

.cms-product .handle form .subgroup select{
    font-size: 10px;
    
}

.cms-product .handle form input[type=submit]{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: .5px solid #333;
    background: #f8f5f0;
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top:5px;
} 

#notcart{
    font-family: 'EB Garamond', serif;  
    font-weight: 200;
    letter-spacing: 1.2px;
    font-size: 14px;
}


@media only screen and (min-width: 600px) {
    .mobile-only{
        display: none;
    }

    .web-only{
        display: block;
    }

    .header{
        height: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }
    
    .header .primary{
        display: flex;
        align-self: center;
        justify-content: left;
        padding-top: 20px;
        padding-left: 40px;
    }
    
    .header .primary img{
        height: 100px;
    }

    .header .secondary a{
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        letter-spacing: 1.4px;
        border-bottom: .5px solid #f8f5f0;
        padding-bottom: 5px;
        float: left;
        margin: 10px;
        transition: all 1s ease;
    }

    .header .secondary a:hover{
        border-bottom: .5px solid #333;
    }
    
    .header .secondary{
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 50px;
    }
    
    .hero {
        background: url("../imgs/heropalm.png");
        width: 100vw;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .hero img{
        max-width: 100vw;
    }
    
    .hero h2{
        position: absolute;
        font-family: 'EB Garamond', serif;
        letter-spacing: 1.2px;
        font-weight: 400;
    }
    
    .hero.ss {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero.ss h2{
        font-size: 28px;
    }
    
    
    .homepage-hero img{
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .body{
        height: 100%;
        width: 100%;
    }
    
    .homepage .content.primary{
        background: url("../imgs/shadows2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        height: 1200px;
        margin-top: -10px;
        
    }
    
    .homepage .content.primary .handle{
        padding-top: 100px;
        height: 100%;
        width: 100%;
    }
    
    .homepage .content.primary .handle .primary p{
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        letter-spacing: 1.2px;
        color: #333;
    }
    
    .itl{
        font-style: italic;
        font-weight: 500;
    }

    .homepage .content.primary .handle .primary .l-line{
        width: 170px;
        height: 0;
        border: .5px solid #333;
        /* margin: 3px; */
        display:block;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    
    .homepage .content .handle .secondary{
        margin-bottom: 100px;
    }
    
    .homepage .content .handle .secondary .nav{
        text-align: center;
        width: 100%;
    }
    
    .homepage .content .handle .secondary .nav a{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
        color: #333;
        letter-spacing: 1.3px;
        margin: 50px;
        border-bottom: .5px solid transparent;
        padding-bottom: 5px;
        transition: all 1s ease;
    }

    .homepage .content .handle .secondary .nav a:hover{
        border-bottom: .5px solid #333;
    }
    
    .homepage .content .handle .tertiary{
        overflow: auto;
        margin-bottom: 90px;
    }
    
    .homepage .content .handle .tertiary img{
        width: 25%;
        float: left;
    }
    
    .homepage .content .handle .quaternary{
        padding-bottom: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .homepage .content .handle .quaternary .line{
        width: 45px;
        height: 0;
        border: .5px solid #333;
        /* margin: 3px; */
        display: inline-block;
    }
    
    .homepage .content .handle .quaternary span{
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        text-align: center;
        display: inline-block;
        margin: 20px;
        letter-spacing: 1.2px;
        font-size: 20px;
    }
    
    .homepage .secondary .primary{
        margin-bottom: 100px;
        
    }
    
    .homepage .secondary .primary img{
        width: 100vw;
    }
    
    .homepage .secondary{
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        text-align: center;
        font-size: 20px;
    }
    
    .homepage .secondary .secondary{
        margin-bottom: 100px;
    }
    
    .homepage .secondary .secondary .primary{
        margin-bottom: 25px;
    }
    
    .homepage .secondary .secondary .primary .emphasis{
        font-size: 30px;
    }
    
    .homepage .secondary .secondary .secondary{
        position: relative;
    }
    
    .homepage .secondary .secondary .secondary input[type=text]{
        height: 50px;
        width: 400px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #333;
        letter-spacing: 1.3px;
        background: #f8f5f0;
        border: .5px solid #333;
        font-size: 14px;
    }
    
    .homepage .secondary .secondary .secondary input[type=image]{
        position: absolute;
        height: 50px;
        width: 50px;
        margin-left: -50px;
        background: #f8f5f0;
    }
    
    .footer{
        height: 100px;
        width: 100vw;
        background: #102A26;
        /* position: absolute;
        bottom: 0px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .footer .social{
        display: flex;
        align-items: center;
        
    }
    
    .footer .social img{
        height: 20px;
        margin-right: 5px;
    }
    
    .footer .social h3{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 1.4px;
        color: #f8f5f0;
        margin-bottom: 10px;
    }
    
    .footer .links{
        text-align: right;
    }
    
    .footer .links a{
        display: block;
        color: #f8f5f0;
       letter-spacing: 1.2px;
        text-decoration: none;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        font-size: 12px;
    
    }

    .login{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    
    .login h2{
        font-size: 30px;
    }

    .productsMain {
        display: grid;
        grid-template-rows: 50px 1fr;
        
    }

    .productsMain .row.secondary{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .productsMain .cat-nav{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .productsMain .cat-nav a{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.4px;
        font-size: 12px;
        text-decoration: none;
        color: #333;
        margin: 10px;
    }

    .productsMain .row.secondary .left-nav {
        width: 70%;
        margin: 0 auto;
        /* display: grid;
        grid-template-rows: 1fr 1fr; */
    }

    .productsMain .row.secondary .left-nav .categories{
        margin-bottom: 150px;
    }

    .productsMain .row.secondary .left-nav h3{
        letter-spacing: 1.2px;
        text-decoration: none;
        font-family: 'EB Garamond', serif;
        font-size: 16px;
        color: #333;
        font-weight: 200;
        margin-bottom: 25px;
    }

    .productsMain .row.secondary .left-nav a{
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        display: block;
        margin-bottom: 20px;
    }
    
    .productsMain .products .product{
        margin-bottom: 50px;
        float: left;
        width: 33.33%;
        text-align: center;
    
    }

    .productsMain .products .product img{
        height: 380px;
        justify-content: space-around;
    }
    
    .productsMain .products .product h2{
        font-size: 14px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        text-align: center;
    }
    
    .productsMain .products .product p{
        font-size: 14px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
    }
    
    .productsMain .products .product a{
        text-decoration: none;
        text-align: center;
    }

    .product-main{
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .product-main .pmh{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .product-main .images{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .product-main .images .handle{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .product-main .images .active img{
        height: 450px;
    }
    
    .product-main .images .handle .subactive img {
        display: block;
        float: none;
        height: 150px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .product-main  .details{
        margin-left: 25px;
    }
    
    .product-main  .details h3{
        font-size: 20px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        text-align: left;
        letter-spacing: 1.3px;
        margin-bottom: 5px;
    }
    
    .product-main  .details span{
        display: block;
        font-size: 16px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        margin-bottom: 25px;
    }
    
    .product-main  .details p{
        display: block;
        font-size: 14px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        margin-bottom: 5px;
        text-align: justify;
    }
    .product-main .details form{
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #333;
        padding-top: 25px;
    }
    
    .product-main .details form .fieldgroup{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .product-main form .fieldgroup.size .container{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .product-main form .fieldgroup.size .container{
        font-size: 12px;
        padding: 0px;
        margin-right: 15px;
        /* border: 1px solid pink; */
    }
    
    .product-main form .fieldgroup.size .container input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .product-main form .fieldgroup.size .container:hover input ~ .checkmark{
        border-bottom: .5px solid #333;
    }
    
    .product-main form .fieldgroup.size .container input:checked ~ .checkmark{
        border-bottom: .5px solid #333;
    }
    
    
    .product-main form .fieldgroup.size .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
    
    .product-main form .fieldgroup.size .container .checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        padding: 8px;
    }
    
    .product-main .details form span{
        float: left;
        margin-right: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        margin: 0px;
    }

    .product-main .details form .fieldgroup.qty span{
        margin-right: 10px;
    }
    
    .product-main .details form input[type=number]{
        width: 35px;
        height: 30px;
        text-align: center;
        border: .5px solid #333;
        background: #f8f5f0;
        color: #333;
        font-family: 'Montserrat', sans-serif;
    }
    
    .product-main .details form input[type=submit]{
        display: block;
        border: .5px solid #333;
        background: #f8f5f0;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding: 20px;
        padding-right: 30px;
        padding-left: 30px;
        letter-spacing: 1.4px;
        margin-top: 50px;
        transition: all 1s ease;
    }

    .product-main .details form input[type=submit]:hover{
        border: .5px solid #dbc9b4;
        color:#dbc9b4;
        cursor: pointer;
    }
    
    .product-main .reviews-login{
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        color: #333;
        margin-top: 10px;
        text-align: center;
    }
    
    .product-main .reviews-login a{
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-style: italic;
    }

    .product-main .reviews{
        margin-top: 100px;
        color: #333;
    
    }
    
    .product-main .reviews h3{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #333;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
    }
    
    .product-main .reviews .fieldgroup{
        margin-bottom: 0px;
    }

    .product-main .reviews .fieldgroup.upload{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .product-main .reviews label{
        display: block;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        letter-spacing: 1.2px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .product-main .reviews input[type=file]{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    
    .product-main .reviews input[type=text]{
        height: 30px;
        width: 100%;
        border: none;
        background: #EADED0;
        padding-left: 5px;
    }
    
    .product-main .reviews input[type=submit]{
        border: .5px solid #333;
        background: #f8f5f0;
        padding: 20px;
        padding-right: 40px;
        padding-left: 40px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    
    .product-main .reviews textarea{
        height: 80px;
        width: 100%;
        border: none;
        background: #EADED0;
        padding-left: 5px;
        padding-top: 5px;
    }
    
    .product-main .reviews .line{
        width: 120px;
        height: 0;
        border: .5px solid #333;
        /* margin: 3px; */
        display:block;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    .product-main .reviews .rev-header h3{
        text-align: center;
        margin-bottom: 10px;
        font-family: 'EB Garamond', serif;
        font-weight: 200;
        text-transform: capitalize;
        font-size: 20px;
    }

    .cms-home .handle{
        display: grid;
        grid-template-columns: 200px 1fr;
        /* height: 100vh; */
    }
    
    .cms-home{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .cms-home .handle .col.nav{
        text-align: right;
        width: 80%; 
        margin: 0 auto;
    }
    
    .cms-home .handle .col.nav a{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin: 10px;
    }
    
    .cms-home .handle .col.content{
        border: 2px solid pink;
        height: 100%;
    }
    
    #sizeContainer{
        display: none;
        padding-left: 5px;
    }

    .cart-main{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .cart-main .handle {
        width: 90%;
        display: grid;
        grid-template-rows: 50px 1fr;
    }
    
    .cart-main .handle .cart-primary h2{
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    .cart-main .handle .cart-secondary{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .cart-main .handle .cart-secondary .items{
        margin-bottom: 75px;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        width: 90%;
        margin-top: 15px;
    }
    
    .cart-main .handle .cart-secondary .items .item{
        overflow: hidden;
        width: 100%;
        display: grid;
        grid-template-columns: 40px 1fr 1fr 1fr 40px;
        margin-bottom: 10px;
    }
    
    .cart-main .handle .cart-secondary .items .item span{
        font-size: 16px;
    }
    .cart-main .handle .cart-secondary .items .line{
            width: 100%;
            height: 0;
            border: .5px solid #333;
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 75px;
    }
    
    .cart-main .handle .cart-secondary .totals{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        background: #EADED0;
        padding-bottom: 30px;
    }
    
    .cart-main .handle .cart-secondary .totals h3{
        font-family: 'EB Garamond', serif;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 25px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        padding: 20px;
    }
    
    .cart-main .handle .cart-secondary .totals .label{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .cart-main .handle .cart-secondary .totals .label span{
        font-size: 12px;
    }

    .cart-main .handle .cart-secondary .totals .label span.secondary{
        text-align: right;
    }
    
    .cart-main .handle .cart-secondary .totals .line{
            width: 80%;
            height: 0;
            border: .5px solid #333;
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
    }
    
    .cart-main .handle .cart-secondary .totals .checkout{
        padding-top: 15px;
        text-align: center;
    }
    
    .cart-main .handle .cart-secondary .totals .checkout a{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: .5px solid #333;
        color: #333;
        text-decoration: none;
        font-size: 10px;
        padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        display: inline-block;
    }
    
    #empBtn{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: .5px solid #333;
        color: #333;
        text-decoration: none;
        font-size: 10px;
        padding: 15px;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .cart-main .handle .cart-secondary .col.dltBtn img{
        height: 15px;
    }
    
    .cart-main .handle .cart-secondary .col.cartImg img{
        height: 150px;
    }

    .checkout-main{
        font-family: 'EB Garamond', serif;  
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #333;
    }
    
    .checkout-main .handle{
        width: 90%;
        margin: 0 auto;
    }

    .checkout-main .billing-shipping{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    .checkout-main label{
        display: block;
        font-weight: 200;
        letter-spacing: 1.2px;
        font-size: 16px;
    }
    
    .checkout-main form h3{
        font-weight: 400;
        letter-spacing: 1.2px;
        margin-bottom: 25px;
        font-size: 24px;
    }
    
    .checkout-main form .fieldgroup{
        margin-bottom: 15px;
    }
    
    .checkout-main form .billing{
        margin-bottom: 50px;
        padding-right: 20px;

    }
    
    .checkout-main form .shipping{
        margin-bottom: 50px;
        padding-left: 20px;
    }

    .checkout-main form .shipping.group{
        margin-bottom: 0px;
        padding-left: 0px;
    }
    
    .checkout-main form .review{
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 14px;
    }
    
    .checkout-main form .review .label{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .checkout-main form .review h3{
        font-family: 'EB Garamond', serif;  
        text-transform: capitalize;
    }
    
    .checkout-main input[type=text]{
        width: 100%;
        height: 30px;
        background: #EADED0;
        border: none;
    }
    
    .checkout-main form .item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10px;
    }
    
    .checkout-main form .line{
        width: 100%;
        height: 0;
        border: .5px solid #333;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    #plcOrder {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: .5px solid #333;
        background: #f8f5f0;
        font-size: 12px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        width: 30%;
        text-align: center;
        margin-top: 15px;
    }

    #plcOrder:hover{
        cursor: pointer;
    }

    .cms-products {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .cms-products .handle{
        width: 80%;
        margin: 0 auto;
    }
    
    .cms-products .addButton{
        margin-bottom: 50px;
    }
    
    .cms-products .addButton a{
        color: #333;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 14px;
        padding: 5px;
        font-weight: 500;
    
        
    }

    .cms-products .products{
       overflow: hidden;
    }
    
    .cms-products .product img {
        height: 175px;
    }
    
    .cms-products .product {
        display: grid;
        grid-template-columns: 1fr 1.5fr 50px;
        margin-bottom: 15px;
        float: left;
        width: 50%;
    
    }
    
    .cms-products .product h2{
        font-size: 20px;
        font-family: 'EB Garamond', serif;  
        font-weight: 200;
    }
    
    .cms-products .product a{
        color: #333;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .cms-products .product .deleteBtn{
        display: flex;
        align-items: center;
    }
    
    .cms-products .product .deleteBtn img {
        height: 25px;
    }

    .cms-product{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .cms-product .handle{
        width: 70%;
        margin: 0 auto;
    }
    
    .cms-product .handle form h2{
        font-size: 20px;
        font-family: 'EB Garamond', serif;  
        font-weight: 400;
        letter-spacing: 1.2px;
        margin-bottom: 25px;
    }
    
    .cms-product .handle form .fieldgroup{
        margin-bottom: 25px;
    }
    
    .cms-product .handle form .fieldgroup input[type=text]{
        background: #EADED0;
        border: none;
        height: 30px;
        width: 100%;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.3px;
        font-size: 12px;
    }
    
    .cms-product .handle form label{
        display: block;
        color: #333;
        letter-spacing: 1.2px;
        font-weight: 200;
        margin-bottom: 5px;
    }
    .cms-product .handle form .fieldgroup select{
        font-family: 'Montserrat', sans-serif;
        background: #f8f5f0;
        border: .5px solid #333;
        height: 30px;
        font-size: 12px;
        padding-left: 5px;
        width: 120px;
    }
    
    .cms-product .handle form .fieldgroup textarea{
        width: 100%;
        border: none;
        background: #EADED0;
        height: 140px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.3px;
        font-size: 12px;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .cms-product .handle form .fieldgroup.groups{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
    }
    
    .cms-product .handle form .subgroup{
        margin-bottom: 20px;
    }
    
    .cms-product .handle form .subgroup label{
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1.2px;
    }
    
    .cms-product .handle form .subgroup input[type=text]{
        width: 50px;
        height: 30px;
    }
    
    .cms-product .handle form .subgroup select{
        font-size: 12px;
        width: 80px;
    }
    
    .cms-product .handle form input[type=submit]{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: .5px solid #333;
        background: #f8f5f0;
        font-size: 14px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        width: 30%;
        margin-top:5px;
    } 

}